<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158024394174-0tb3ovu072t8tipjhcgb3gg3mpvcg9sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158024394174-0tb3ovu072t8tipjhcgb3gg3mpvcg9sc</string>
	<key>API_KEY</key>
	<string>AIzaSyBYdYoDRLU63VwH5f7SanhE899cZxEVK7w</string>
	<key>GCM_SENDER_ID</key>
	<string>158024394174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nazar.project</string>
	<key>PROJECT_ID</key>
	<string>cryptosendingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptosendingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158024394174:ios:fd248584fc5e1b87f685ef</string>
</dict>
</plist>