<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649712892935-mhh87b6gikcb29803kiibqr9dmq7tv5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649712892935-mhh87b6gikcb29803kiibqr9dmq7tv5i</string>
	<key>API_KEY</key>
	<string>AIzaSyASTbQOiO0LVsLjVMHSIJ0rTp2LLsq766E</string>
	<key>GCM_SENDER_ID</key>
	<string>649712892935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nazar.project</string>
	<key>PROJECT_ID</key>
	<string>project-39c2f</string>
	<key>STORAGE_BUCKET</key>
	<string>project-39c2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649712892935:ios:bac47c229c5333c3877ea2</string>
</dict>
</plist>